<html>
   <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="/static/template.css">

         
         <title>Welcome </title>
   </head>
   <body>
    <h1>Car Garage Management</h1>

    <form id="addCarForm">
        <label for="makeInput">Make:</label>
        <input type="text" id="makeInput" required><br><br>

        <label for="modelInput">Model:</label>
        <input type="text" id="modelInput" required><br><br>

        <button type="submit">Add Car</button>
    </form>

    <hr>

    <h2>Cars in Garage</h2>
  
</body>
</html>